*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* **** till Preloader ****** */
body{
    background-color: black;
    position: relative;
    /* color: rgb(3, 178, 247);
    color:rgba(28, 113, 250); */
    color:royalblue;/*for light mode*/

}
h1{
    text-align: center;
    text-decoration: underline;
    font-family: "Audiowide", sans-serif;
    color: #013775;/* for light mode */
  }
#preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
#main_content{
    display: none;
}
/* **** till Preloader part ends ****** */
.navbar{
    font-family: 'Shadows Into Light';
    font-size: large;
    }
    /* for custom navabar toggler in case of phone etc */
    .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(13,110,253, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    
    .custom-toggler.navbar-toggler {
      border-color: #0d6efd;
    } 
    
    .navbar-brand{
        margin-right: 35px;
        font-size: larger;
        font-weight: bold;
    }
     section{
        overflow: hidden;
    } 
    
/* **** section home starts ****** */

#home {
    width: 100%;
    position: relative;
    background: url("./img/home-bg.png") center bottom no-repeat;
    background-size: cover;
    padding: 300px 0 120px 0;
  }
  @media (max-width: 991px) {
    #home {
      padding: 140px 0 60px 0;
    }
  }
  @media (max-width: 574px) {
    #home {
      padding: 100px 0 20px 0;
    }
  }
  #home .hero-img {
    margin-top: -12%;
    float: right;
    
  }
  #home .hero-img img{
    width: 350px;
    height: 300px;
    border-radius: 70% ;

  }
  @media (max-width: 991px) {
    #home .hero-img {
      width: 80%;
      float: none;
      margin: 0 auto 25px auto;
    }
  }
  #home .home-quote {
    width: 50%;
    float: left;
    margin-top: -8%;
  }
  @media (max-width: 991px) {
    #home .home-quote {
      width: 80%;
      float: none;
      margin: auto;
      text-align: center;
    }
  }
  @media (max-width: 767px) {
    #home .home-quote {
      width: 100%;
    }
  }
  #home .home-quote h4 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
  }
  #home .home-quote h4:nth-child(2) {
    color: #74b5fc;
  }
  @media (max-width: 767px) and (min-width:360px) {
    #home .home-quote h4 {
      font-size: 27px;
      margin-bottom: 30px;
    }
  }
  @media (max-width: 359px) {
    #home .home-quote h4 {
      font-size: 22px;
      margin-bottom: 30px;
    }
  }
  /*typewriter animation*/
.line-1{
  position: relative;
  top: 50%;  
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

/* Animation */
.css-typing h4 {
  border-right: .15em solid rgb(0, 162, 255);
  font-family: "Courier";
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
}
.css-typing h4:nth-child(1) {
  width:11.5em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing h4:nth-child(2) {
  width: 11.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing h4:nth-child(3) {
  width: 13em;
  opacity: 0;
  -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid rgb(0, 162, 255);
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid rgb(0, 162, 255);
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid rgb(0, 162, 255);
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid rgb(0, 162, 255);
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}
  /* **** section home ends ****** */

    /* **** section about  ****** */ 
.about-body{
    margin-left: 20px;
    font-size: 20px;
  }
  #about .about-container .icon-box {
    background: #fff;
    background-size: cover;
    padding: 0 0 30px 0;
  }
  #about .about-container .icon-box .icon {
    float: left;
    background: #fff;
    margin-left: 5px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #007bff;/* for light mode */
    transition: all 0.3s ease-in-out;
  }
  #about .about-container .icon-box .icon i {
    color: #007bff;/* for light mode */
    font-size: 24px;
    line-height: 0;
  }
  #about .about-container .icon-box:hover .icon {
    background: #007bff;/* for light mode */
  }
  #about .about-container .icon-box:hover .icon i {
    color: #fff;
  }
  #about .about-container .icon-box .title {
    margin-left: 80px;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 22px;
    font-family:Inconsolata ;
    
  }
  #about .about-container .icon-box .title a {
    color: #013775;/* for light mode */
  }
  #about .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 16px;
  }
    /* **** section about ends ****** */
  /* **** section about ends ****** */

  /* **** section activities ****** */
  /* .accordion h2{
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    font-family:Inconsolata ;
  } */

  
.activities_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .activities_container .activities_box{
        position: relative;
        width: 350px;
        padding: 40px;
        background: #fff;
        border-radius: 5px;
        /* box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.5); */
        box-shadow: 5px 15px 25px rgba(1, 81, 253, 0.5);/* for light mode */
        margin: 20px;
        overflow: hidden;
        box-sizing: border-box;
        text-align: center;
    
    }
    .activities_container .activities_box:before{
        content: '';
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        /* background: rgba(255, 255, 255, 0.2); */
        background: rgba(28, 113, 250, 0.2);/* for light mode */
        pointer-events: none;
        z-index: 2;
    }
    .activities_container .activities_box .activities_icon{
        position: relative;
        width: 80px;
        height: 80px;
        color: ivory;
        background: blue;/* for light mode */
        display: flex;
        justify-content: center ;
        align-items: center;
        margin: 0 auto;
        border-radius: 50%;
        font-size: 40px;
        font-weight: 700;
        transition: 0.2s;
    }
    .activities_container .activities_box:nth-child(1) .activities_icon{
        box-shadow: 0 0 0 0 rgb(243, 62, 62);
        background: rgb(243, 62, 62);
    }
    .activities_container .activities_box:nth-child(1):hover .activities_icon{
        box-shadow: 0 0 0 400px rgb(243, 62, 62);
      
    }
    .activities_container .activities_box:nth-child(2) .activities_icon{
        box-shadow: 0 0 0 0 palevioletred;
        background:palevioletred;
    }
    .activities_container .activities_box:nth-child(2):hover .activities_icon{
        box-shadow: 0 0 0 400px palevioletred;
      
    }
    .activities_container .activities_box:nth-child(3) .activities_icon{
        box-shadow: 0 0 0 0 rgb(3, 178, 247);
        background:rgb(3, 178, 247);
    }
    .activities_container .activities_box:nth-child(3):hover .activities_icon{
        box-shadow: 0 0 0 400px rgb(3, 178, 247);
      
    }
    .activities_container .activities_box:nth-child(4) .activities_icon{
        box-shadow: 0 0 0 0 #18d26e;
        background:#18d26e;
    }
    .activities_container .activities_box:nth-child(4):hover .activities_icon{
        box-shadow: 0 0 0 400px #18d26e;
      
    }
    .activities_container .activities_box:nth-child(5) .activities_icon{
        box-shadow: 0 0 0 0 lightseagreen;
        background:lightseagreen;
    }
    .activities_container .activities_box:nth-child(5):hover .activities_icon{
        box-shadow: 0 0 0 400px lightseagreen;
      
    }
    .activities_container .activities_box:last-child .activities_icon{
      box-shadow: 0 0 0 0  rgb(127, 83, 248);
      background: rgb(127, 83, 248);
  }
  .activities_container .activities_box:last-child:hover .activities_icon{
      box-shadow: 0 0 0 400px  rgb(127, 83, 248);
    
  }
    .activities_container .activities_box .activities_content{
        position: relative;
         transition: .5;
         z-index: 1;
    
      
    }
    .activities_container .activities_box:hover .activities_content{
        color: #fff;
    }
    .activities_container .activities_box .activities_content h3{
        font-size: 20px;
        margin: 10px 0;
        padding: 0;
    }
    .activities_container .activities_box .activities_content p{
      
        margin:  0;
        padding: 0;
       
       
    }
   
    
  
  
    /* .activities_container .activities_box .activities_content a{
        display: inline-block;
        padding: 10px 20px;
        background: #fff;
        text-decoration: none;
        border-radius: 4px;
        color: #000;
        font-weight: 500;
        margin-top: 20px;
        box-shadow: 0 5px 15px rgba(0,0,0,1);
    } */
  
      /* **** section activities  ends****** */
   /* skill section */
   .skills_container{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    }
   .skills_box{
    position: relative;
    width: 800px;
    padding: 40px;
    background: #fff;
    border-radius: 5px;
    /* box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.5); */
    box-shadow: 5px 15px 25px rgba(1, 81, 253, 0.5);/* for light mode */
    margin: 20px;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
   }
  
  
  .progress{
     height: 30px;
   }
  .progress i{
    font-size: 15px;
    margin-left: 5px;
    font-style: normal;
   }
   @media (max-width: 800px) and (max-width: 510px) {
    .skills_box{
      width: 400px;
    }
   }
   @media (max-width: 510px) and (max-width: 310px) {
    .skills_box{
      width: 200px;
    }
   }
   
   @media (max-width: 310px) {
    .skills_box{
      width: 100px;
    }
   }
   .skills_box .progress:nth-child(1) .progress-bar:nth-child(2)
   {
     background-color: orange;
   }
   .skills_box .progress:nth-child(3) .progress-bar:nth-child(1)
   {
     background-color: goldenrod;
   }
   .skills_box .progress:nth-child(3) .progress-bar:nth-child(2)
   {
     background-color: gold;
   }
   .skills_box .progress:nth-child(4) .progress-bar:nth-child(1)
   {
     background-color: purple;
   }
   .skills_box .progress:nth-child(4) .progress-bar:nth-child(2)
   {
     background-color: violet;
   }
   .skills_box .progress:nth-child(5) .progress-bar:nth-child(1)
   {
     background-color: darkgreen;
   }
   .skills_box .progress:nth-child(6) .progress-bar:nth-child(1)
   {
     background-color: blue;
   }
   .skills_box .progress:nth-child(7) .progress-bar:nth-child(1)
   {
     background-color: darkgreen;
   }
   .skills_box .progress:nth-child(7) .progress-bar:nth-child(2)
   {
     background-color: #00ED64;
   }
   .skills_box .progress:nth-child(6) .progress-bar:nth-child(2)
   {
     background-color: #61dafb;
   }
   .skills_box .progress:nth-child(8) .progress-bar:nth-child(2)
   {
     background-color: royalblue;
   }
/*section activities end*/ 


   
  /********section contact starts*********/
  
  
  #contact {
     
      
    /* box-shadow: 0px 0px 25px 0px slategrey; */
    box-shadow: 0px 0px 25px 0px rgba(1, 81, 253, 0.829);/* for light mode */
    
    padding: 60px 0;
    overflow: hidden;
    color:darkblue;/* for light mode */
    
  
  }
  #contact .section-header {
    padding-bottom: 30px;
   text-align: center;
  }
  #contact .section-header h3 {
    font-size: 36px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-family: "Audiowide", sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #013775;/* for light mode */
  }
  #contact .form{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: larger;
  }
  #contact .form ::placeholder{
    font-weight: 700;
    font-size: larger;
    color: #74b5fc;/* for light mode */
  }
  #contact .email-form input, #contact .email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  #contact .email-form input:focus, #contact .email-form textarea:focus {
    border-color: ivory;
  }
  #contact .email-form input {
    padding: 10px 15px;
    border-radius: 10px;
    border-color: #0450a7 ;/*for dark mode*/
  }
  #contact .email-form textarea {
    padding: 12px 15px;
    border-radius: 10px;
    border-color: #013775 ;/*for light mode*/
  }
  #contact .email-form button[type=submit] {
    background-color: white;
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #013775;/* for light mode */
    transition: 0.3s;
  }
  #contact .email-form button[type=submit]:hover {
    background-color: #013775 ;/* for light mode */
    color: white;
    cursor: pointer;
  }
  /*feedback response*/
#feedback{
    display: none;
  }
     #feedback h1{
        margin: 50px;
        font-family: Inconsolata ;
        text-decoration: none;
        
    }
    .feedback_body{
        height: 200px;
    }
  /********section contact ends*********/
  

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {


    /* background: rgb(17, 43, 68); for dark mode */
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
    
    }
    #footer .footer-top {
    
    /* background: #013775; */ /*for dark mode*/
    /*background-color:#74b5fc;*//*for light mode*/
    box-shadow: 0px 0px 25px 0px rgba(1, 81, 253, 0.829);/* for light mode */
    padding: 60px 0 30px 0;
    }
    #footer .footer-top .footer-info {
    margin-bottom: 30px;
    }
    #footer .footer-top  h2 {
      
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Audiowide", sans-serif;
    /* color:white;for dark mode */
    color:#013775;/* for light mode*/
    font-weight: 400;
    
    }
    #footer .footer-top  h3 {
    font-size: 25px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Audiowide", sans-serif;
    
    color: blue;
    font-weight: 400;
    
    }
    #footer .footer-top .footer-info p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: 'Architects Daughter',sans-serif;
    color: royalblue;
    }
    
    #footer .footer-top .social-links a {
      
      display: inline-flex;
    justify-content: space-around;
    /* align-items: flex-end;*/
    border-radius: 50%;
    font-size: 18px;
    color: royalblue;
    
    margin-right: 4px;
    
    width: 36px;
    height: 36px;
    transition: 0.3s;
    }
    
    #footer .footer-top .social-links a:hover {
    
    color: rgb(3, 11, 122);/* for light mode */
    
    }
    
    
    #footer .copyright {
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    color: #013775;/* for light mode*/
    }
    /*--------------------------------------------------------------
# Back to top button
-------------------------------------------------------------*/
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    
    }