*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* **** till Preloader ****** */
body{
    background-color: black;
    position: relative;
    /* color: rgb(3, 178, 247);
    color:rgba(28, 113, 250); */
    color:royalblue;/*for light mode*/

}
h1{
    text-align: center;
    text-decoration: underline;
    font-family: "Audiowide", sans-serif;
    color: #013775;/* for light mode */
  }
#preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
#main_content{
    display: none;
}
/* **** till Preloader part ends ****** */
.navbar{
    font-family: 'Shadows Into Light';
    font-size: large;
    }
    /* for custom navabar toggler in case of phone etc */
    .custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(13,110,253, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    
    .custom-toggler.navbar-toggler {
      border-color: #0d6efd;
    } 
    
    .navbar-brand{
        margin-right: 35px;
        font-size: larger;
        font-weight: bold;
    }
     section{
        overflow: hidden;
    } 
